<!DOCTYPE html>
<html>
    <head>
        <title>AI STUDY BUDDY</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </head>
    <body>
        <h1>AI Study Buddy -Flashcard Generator</h1>
        <textarea id = "notes" placeholder="Paste your study notes at this area"> </textarea>
        <br>
        <!-- Flashcard generator button-->
        <button onclick="Flashcard_generator()">Generate FlashCards</button>

        <!--container-->
        <div id = "flashcards"></div>

        <!-- Link to Javascript file-->
         <script src = "script.js"></script>

    </body>
</html>